@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary-color: #292828;
	--secondary-color: #242121;
	--bg1: rgba(113, 197, 244, 0.38);
	--bg2: rgba(171, 113, 244, 0.38);
	--bg3: rgba(244, 113, 168, 0.38);
}

.bg-color1 {
	background: var(--bg1);
}
.bg-color2 {
	background: var(--bg2);
}
.bg-color3 {
	background: var(--bg3);
}

html,
body {
	background: var(--secondary-color);
}

/* width */
::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #312f2f;
	border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 28px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
